*{
    box-sizing: border-box;
}
html{
    font-family: 'Space Grotesk', sans-serif;
}
.mainhead{
    color: rgb(74,191,190);
}
.sechead{
    color: rgb(186,229,57);
}
.brow{
    color: silver;
    line-height: 3px;
    font-size: 0.8rem;
}
.but{
    width: 80%;
    height:30px;
    border-radius: 3px;
    background-color:rgb(186,229,57);
    color: white;
    border-color: transparent;
}
.frstbox{
    color: white;
    background-color: rgb(74,191,190);
    width: 50%;
    border: transparent solid;
    padding: 5px 5px 25px 25px;
    margin-left: 0%;
    margin-top: 10px;
    height: 230px;
    float: left;
   
}
 #www{
    color: white;
    background-color: rgb(120, 204, 201);
    box-sizing: border-box;
    line-height: 5px;
    font-size: 0.75rem;
    padding-top: 18px;

}


